USE [master]
GO
/****** Object:  Database [VideoStore]    Script Date: 21-9-2022 21:35:23 ******/
CREATE DATABASE [VideoStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoStore', FILENAME = N'C:\Users\IvoVerburgh\VideoStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoStore_log', FILENAME = N'C:\Users\IvoVerburgh\VideoStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoStore]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 21-9-2022 21:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Performance]    Script Date: 21-9-2022 21:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Performance](
	[Id] [uniqueidentifier] NOT NULL,
	[PlayId] [uniqueidentifier] NOT NULL,
	[Audience] [int] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Performance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Play]    Script Date: 21-9-2022 21:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Play](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[PayType] [int] NOT NULL,
	[ShortName] [varchar](max) NULL,
 CONSTRAINT [PK_Play] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([Id], [Name]) VALUES (N'a4fe9836-de60-4f66-9984-a568290fdba6', N'BigCo')
GO
INSERT [dbo].[Performance] ([Id], [PlayId], [Audience], [CustomerId]) VALUES (N'643ab854-bee7-4af5-bfad-24a9861e5bd5', N'ee718691-cd01-43e7-a8ed-98cffc8ea191', 35, N'a4fe9836-de60-4f66-9984-a568290fdba6')
INSERT [dbo].[Performance] ([Id], [PlayId], [Audience], [CustomerId]) VALUES (N'0789d57d-6143-4e17-9b4f-3036d9aabf88', N'cf56ef80-224e-42a9-bd46-d1ac83baf237', 55, N'a4fe9836-de60-4f66-9984-a568290fdba6')
INSERT [dbo].[Performance] ([Id], [PlayId], [Audience], [CustomerId]) VALUES (N'9b832cd1-50f6-41b2-8b37-30853fd65345', N'a4b3711f-f8f2-4ca3-b7d6-4e37996febe6', 40, N'a4fe9836-de60-4f66-9984-a568290fdba6')
GO
INSERT [dbo].[Play] ([Id], [Name], [PayType], [ShortName]) VALUES (N'a4b3711f-f8f2-4ca3-b7d6-4e37996febe6', N'Othello', 0, N'othello')
INSERT [dbo].[Play] ([Id], [Name], [PayType], [ShortName]) VALUES (N'ee718691-cd01-43e7-a8ed-98cffc8ea191', N'As You Like It', 1, N'as-like')
INSERT [dbo].[Play] ([Id], [Name], [PayType], [ShortName]) VALUES (N'cf56ef80-224e-42a9-bd46-d1ac83baf237', N'Hamlet', 0, N'hamlet')
GO
ALTER TABLE [dbo].[Performance]  WITH CHECK ADD  CONSTRAINT [FK_Performance_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Performance] CHECK CONSTRAINT [FK_Performance_Customer]
GO
ALTER TABLE [dbo].[Performance]  WITH CHECK ADD  CONSTRAINT [FK_Performance_Play] FOREIGN KEY([PlayId])
REFERENCES [dbo].[Play] ([Id])
GO
ALTER TABLE [dbo].[Performance] CHECK CONSTRAINT [FK_Performance_Play]
GO
USE [master]
GO
